html, body {
  margin:0;
  padding:0;
  height: 100%;
  width: 100%;
}
body {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
}

h1 {
  font-size: 18px;
}

#container {
  width: 100%;
  height: 100%;
}

.well {
  width: 100%;
  height: 100%;
}

#canvas_container {
  width: 100%;
  height: 100%;
  background-color: #D8D8D8;
}

#pict {
  max-width: 100%;
  max-height: 100%;
}

@media screen and (min-width: 1200px) {
  #container {
    width: 100%;
  }
  #col1 {
    width: 60%;
    height: 100%;
  }
}

@media screen and (min-width: 1001px) and (max-width: 1199px) {
  #container {
    width: 950px;
    margin-left: auto;
    margin-right: auto;
  }
  #col1 {
    width: 60%;
    height: 100%;
  }
}

@media screen and (min-width: 700px) and (max-width: 1000px) and (orientation: landscape) {

}

@media screen and (min-width: 700px) and (max-width: 1000px) and (orientation: portrait) {

}

@media screen and (max-width: 699px) and (orientation: landscape) {

}

@media screen and (max-width: 699px) and (orientation: portrait) {

}

/*
@media screen and (min-width: 700px) and (max-width: 1000px) {
  #container {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
  }
  #col1 {
  width: 100%;
  height: 100%;
  }

  .well {
    height: 100%
  }

} */
/*
@media screen and (min-width: 1001px) and (max-width: 1200px) {
  #container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  #col1 {
  width: 60%;
  float: left;
  }

  #col2 {
    width: 40%;
  }

}

@media screen and (min-width: 1201px) {
  #container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-heigh: )

#container {
  height: 100%;
}








*/





/*      ____________
       /\  ________ \
      /  \ \______/\ \
     / /\ \ \  / /\ \ \
    / / /\ \ \/ / /\ \ \
   / / /__\ \ \/_/__\_\ \__________
  / /_/____\ \__________  ________ \
  \ \ \____/ / ________/\ \______/\ \
   \ \ \  / / /\ \  / /\ \ \  / /\ \ \
    \ \ \/ / /\ \ \/ / /\ \ \/ / /\ \ \
     \ \/ / /__\_\/ / /__\ \ \/_/__\_\ \
      \  /_/______\/_/____\ \___________\
      /  \ \______/\ \____/ / ________  /
     / /\ \ \  / /\ \ \  / / /\ \  / / /
    / / /\ \ \/ / /\ \ \/ / /\ \ \/ / /
   / / /__\ \ \/_/__\_\/ / /__\_\/ / /
  / /_/____\ \_________\/ /______\/ /
  \ \ \____/ / ________  __________/
   \ \ \  / / /\ \  / / /
    \ \ \/ / /\ \ \/ / /
     \ \/ / /__\_\/ / /
      \  / /______\/ /
       \/___________/..
       */