html, body {
  margin:0;
  padding:0;
  height: 100%;
  width: 100%;
}
body {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 90%;
  margin: 0 0 0 0px;
  padding: 0px;
}

h1 {
  padding: 0px;
  font-size: 110%;
  font-weight: bold;
  text-align: center;
  margin: 0 0 0 0px;
}

.well {
  width: 100%;
  height: 100%;
}

table, th, td, tr {
  border-collapse: collapse;
  border: 2px solid black;
  padding: 1%;
}
#tab {
  margin-left: auto;
  margin-right: 10px;
  height: 100%;
  text-align: center;
}

.etiq {
  font-weight: bold;
}

#container {
  width: 100%;
  height: 100%;
}

#canvas_container {
  width: 100%;
  height: 100%;
  background-color: #D8D8D8;
}

#pict {
  max-width: 100%;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  overflow: hidden;
}

#col1 {
  margin-right: 10px;
  display: block;
  height: 50%;
  width: 100%;
}
#col2 {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
#but {
  text-align: center;
}
@media only screen and (min-width: 1201px) {
  body {
    font-size: 90%;
  }
  #col1 {
    width: 55%;
    height: 100%;
    float: left;
  }
}

@media only screen and (min-width: 1001px) and (max-width: 1200px) {
  body {
    font-size: 75%;
  }
  #col1 {
    width: 55%;
    height: 100%;
    float: left;
  }
}

@media screen and (min-width: 700px) and (max-width: 1000px) and (orientation: landscape) {
  body {
    font-size: 60%;
  }
  #col1 {
    width: 55%;
    height: 100%;
    float: left;
  }
}

@media screen and (min-width: 700px) and (max-width: 1000px) and (orientation: portrait) {
  body {
    font-size: 60%;
  }
  #col1 {
    width: 100%;
    height: 50%;
  }
  #tab {
    margin-right: auto;
  }
}

@media screen and (max-width: 699px) and (orientation: landscape) {
  body {
    font-size: 50%;
  }
  #col1 {
    width: 60%;
    height: 100%;
    float: left;
  }
}

@media screen and (max-width: 699px) and (orientation: portrait) {
  body {
    font-size: 50%;
  }
  #col1 {
    width: 100%;
    height: 50%;
  }
  #tab {
    margin-right: auto;
  }
}



/*      ____________
       /\  ________ \
      /  \ \______/\ \
     / /\ \ \  / /\ \ \
    / / /\ \ \/ / /\ \ \
   / / /__\ \ \/_/__\_\ \__________
  / /_/____\ \__________  ________ \
  \ \ \____/ / ________/\ \______/\ \
   \ \ \  / / /\ \  / /\ \ \  / /\ \ \
    \ \ \/ / /\ \ \/ / /\ \ \/ / /\ \ \
     \ \/ / /__\_\/ / /__\ \ \/_/__\_\ \
      \  /_/______\/_/____\ \___________\
      /  \ \______/\ \____/ / ________  /
     / /\ \ \  / /\ \ \  / / /\ \  / / /
    / / /\ \ \/ / /\ \ \/ / /\ \ \/ / /
   / / /__\ \ \/_/__\_\/ / /__\_\/ / /
  / /_/____\ \_________\/ /______\/ /
  \ \ \____/ / ________  __________/
   \ \ \  / / /\ \  / / /
    \ \ \/ / /\ \ \/ / /
     \ \/ / /__\_\/ / /
      \  / /______\/ /
       \/___________/
       */