* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;   
  box-sizing: border-box;
}

html, body {
  margin:0;
  padding:0;
  height:100%;
}
body {
  background:red;
}
.wrapper {
  height:100%;
  padding-bottom:30px;
  background:green;
  text-align: center;
}

.photo-bkg { height: 100%; }

.photo-bkg img {
  max-height:100%;
  max-width: 100%;
}